.navigation__socials-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 42%;
  margin: 0 0 0 auto;

  @media(min-width: $xl-desktop-breakpoint) {
    min-width: 41%;
  }
}
