.experts__name {
  @include text(
    $color: $name-color,
    $font-size: $name-font-size,
    $font-weight: $name-font-weight
  );
  text-align: center;
  margin-bottom: 0.6em;

  @media (min-width: $desktop-breakpoint) {
    font-size: $desktop-name-font-size;
  }
}
