.run-thief {
  animation: run-thief 2.1s infinite ease-in-out;
}

@keyframes run-thief {
  0% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(0);
  }

  85% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(1000px);
  }
}
