// .logo {
//   width: 40%;

//   @media (min-width: $desktop-breakpoint) {
//     width: 75%;
//   }

//   @media (min-width: $xl-desktop-breakpoint) {
//     width: 100%;
//   }
// }

.logo-inner {
  position: absolute;
  display: flex;
  // for Iphone 5 //
  @media screen and (device-aspect-ratio: 40/71) {
    top: 0px;
  }
  // ============ //
}

.logo-icon {
  position: absolute;
}

.logo-wrapper {
  display: flex;
  position: relative;
  z-index: 3;
}

.main-desc {
  @include text(
    $color: $primary-white-color,
    $font-size: $header-desc-fon-size
  );
  cursor: default;
  display: none;

  @media (min-width: $desktop-breakpoint) {
    display: block;
    padding-top: 10em;
    line-height: 30px;
  }
}
