$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

$primary-white-color: #ffffff;
$secondary-white-color: #fbfbfb;

$light-grey-color: #baaf95;

$primary-text-color: linear-gradient(0deg, #bb3b0d 0%, #e75317 100%);

$primary-gradient: linear-gradient(0deg, #bb3b0d 0%, #e75317 100%);
$darker-gradient: linear-gradient(0deg, #dd4d15 0%, #bb3b0d 100%);
$secondary-gradient: linear-gradient(0deg, #4783f7 0%, #5bb9f7 100%);

$primary-font-stack: "Rubik", serif;

$sm-font-size: calc(10px + 0.5vw);

$btn-font-size: calc(12px + 0.5vw);
$btn-font-weight: 700;

$text-font-size: calc(13px + 0.5vw);
$text-font-weight: 400;

$title-font-size: calc(48px + 1vw);
$title-font-weight: 700;

$subtitle-font-size: calc(18px + 0.5vw);
$subtitle-font-weigth: 400;

$xs-recipe-descr-font-size: calc(13px + 0.5vw);
$lg-recipe-descr-font-size: calc(15px + 0.5vw);

$xs-recipe-font-size: calc(13px + 0.5vw);
$recipe-font-weight: 300;
