.footer__order-btn {
  border: none;
  background: $primary-gradient;
  background-clip: text;
  font-size: $btn-font-size;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: $desktop-breakpoint) {
    font-size: calc(11px + 1vw);
  }
  
  @media (min-width: $xl-desktop-breakpoint) {
    font-size: calc(9px + 1vw);
  }
}
