/*
   Import partials below
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  height: 100%;
  position: relative;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000000;
  display: block;
}

/* rubik-regular - cyrillic_latin */

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v8-cyrillic_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Rubik"), local("Rubik-Regular"), url("../fonts/rubik-v8-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v8-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/rubik-v8-cyrillic_latin-regular.woff") format("woff"), url("../fonts/rubik-v8-cyrillic_latin-regular.ttf") format("truetype"), url("../fonts/rubik-v8-cyrillic_latin-regular.svg#Rubik") format("svg");
  /* Legacy iOS */
}

/* rubik-500 - cyrillic_latin */

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v8-cyrillic_latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/rubik-v8-cyrillic_latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v8-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/rubik-v8-cyrillic_latin-500.woff") format("woff"), url("../fonts/rubik-v8-cyrillic_latin-500.ttf") format("truetype"), url("../fonts/rubik-v8-cyrillic_latin-500.svg#Rubik") format("svg");
  /* Legacy iOS */
}

/* rubik-700 - cyrillic_latin */

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v8-cyrillic_latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/rubik-v8-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v8-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/rubik-v8-cyrillic_latin-700.woff") format("woff"), url("../fonts/rubik-v8-cyrillic_latin-700.ttf") format("truetype"), url("../fonts/rubik-v8-cyrillic_latin-700.svg#Rubik") format("svg");
  /* Legacy iOS */
}

.container {
  padding: 0 6px;
}

.page__header {
  background-image: url("/static/images/blue-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 107vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 2.5em;
}

.page__header .man {
  margin-bottom: 4em;
}

.page__header .flashlight {
  width: 45%;
  right: 50%;
  bottom: 0;
  position: absolute;
}

.header__logo {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.logo-wrapper {
  position: relative;
}

.about__title {
  text-align: center;
  color: linear-gradient(0deg, #bb3b0d 0%, #e75317 100%);
  font-family: "Rubik", serif;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(0deg, #bb3b0d 0%, #e75317 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main__title::after {
  content: "";
  display: block;
  margin: 0.5em auto 1em auto;
  width: 6em;
  height: 1px;
  background-color: #baaf95;
}

@media (min-width: 992px) {
  .container {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}