.header__btn-wrapper {
  border-radius: 49px;
  background-color: $secondary-white-color;
  margin-bottom: 2.8em;
  width: 255px;
  @media (min-width: $desktop-breakpoint) {
    margin: 1.5em 0 2em;
  }
  @media (min-width: $xl-desktop-breakpoint) {
    width: 255px;
  }
}
