.page-articles__article {
  margin-bottom: 1.5em;
  overflow: hidden;
  position: relative;
  max-height: 0;
  margin-bottom: 0;

  ul {
    list-style: inside;
  }

  p, ul>li {
    text-align: left;
    line-height: 38px;

    @include text($font-size: $text-font-size);

    @media (min-width: $desktop-breakpoint) {
      font-size: $article-text-font-size;
    }
    @media (min-width: $lg-desktop-breakpoint) {
      &::before {
        margin: 2.2em 0 2.2em;
      }
    }
  }
}

.page-articles__article.show-article {
  overflow: unset;
  max-height: 999em;
  margin-bottom: 2em;
}
