.page-articles__header-inner {
  @media (min-width: $desktop-breakpoint) {
    padding: 0 2em;
    width: 100%;
  }
  @media (min-width: 1366px) {
    padding: 0 8em;
  }
  @media (min-width: $xl-desktop-breakpoint) {
    padding: 0 16em;
  }
}
