.order-btn {
  @include text(
    $color: $primary-white-color,
    $font-weight: $btn-font-weight
  );
  width: 100%;
  text-align: center;
  padding: 1.1em 0;
  border-radius: 49px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  @media (min-width: $desktop-breakpoint) {
    padding: 1em 0;
  }
}
