.order-modal__close-btn {
  background-image: url("/static/images/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3%;
  right: 6%;
  cursor: pointer;

  @media (min-width: $desktop-breakpoint) {
    top: 4%;
    right: 4%;
  }
}
