<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="theme-color" content="#000000" />
  <meta name="copyright" content="Author" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
  <meta name="apple-mobile-web-app-title" content="Application Name" />
  <meta name="msapplication-TileImage" content="/static/images/favicons/144x144.png" />
  <meta name="msapplication-TileColor" content="#000000" />
  <meta name="format-detection" content="telephone=no" />

  <title>ITCG</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.helper.ie8.js"></script>
  <link rel="stylesheet" href="/static/css/styles.min.css" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-10058766-53"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-10058766-53');
  </script>

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WLC2PHJ');</script>
  <!-- End Google Tag Manager -->

  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '826955034330685');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=826955034330685&ev=PageView
  &noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

</head>

<body class="main">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLC2PHJ" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <section class="order-modal main__order-modal closed">
    <div class="order-modal__overlay"></div>
    <div class="order-modal__form-wrapper">
      <form action="{% url 'auditing:order-create' %}" method="POST" class="order-modal__form">
        <div class="order-modal__close-btn js-order-close"></div>

        {% csrf_token %}
        <input type="text" name="name" class="order-modal__input" placeholder="Имя">
        <p class="order-modal__error-desc" data-field="name"></p>
        <input type="tel" maxlength="15" name="phone" class="order-modal__input" placeholder="Телефон">
        <p class="order-modal__error-desc" data-field="phone"></p>
        <input type="email" name="email" class="order-modal__input" placeholder="Email">
        <p class="order-modal__error-desc" data-field="email"></p>
        <input type="text" name="company_site" class="order-modal__input" placeholder="Сайт компании">
        <p class="order-modal__error-desc" data-field="company_site"></p>
        <textarea class="order-modal__input" name="comment" placeholder="Комментарий"></textarea>
        <button class="order-modal__btn order-btn js-send-data" type="submit">Заказать аудит</button>
      </form>
    </div>
  </section>

  <div class="order-success closed">
    <div class="order-modal__overlay"></div>
    <div class="order-success__text-wrapper">
      <h4 class="order-success__text">Спасибо!<br /> Мы с Вами свяжемся</h4>
    </div>
  </div>

  <header class="header main__header header--blue">
    <div class="header__content-wrapper">
      <nav class="header__navigation navigation">
        <ul class="navigation__list">
          <li class="navigation__item js-articles">Статьи</li>
          <li class="navigation__item js-cases">Кейсы</li>
          <li class="navigation__item js-experts">Эксперты</li>
        </ul>
        <ul class="navigation__socials-list socials">
          <li class="socials__item navigation__socials-item"><a target="blank" href="https://www.facebook.com/ITCG.ua/"
              class="socials__link navigation__socials-link socials--fb">Facebook</a></li>
          <li class="socials__item navigation__socials-item"><a target="blank" href="https://itcg.ua"
              class="socials__link navigation__socials-link socials--main">itcg.ua</a></li>
        </ul>
      </nav>
      <div class="logo-wrapper main__logo-wrapper">
        <a href="{% url 'content:index' %}">
          <div class="main__logo-inner logo-inner logo--white">
            <img class="main__logo logo" src="/static/images/logo-white.svg">
            <img class="main__logo-icon logo-icon" src="/static/images/logo-white-icon.svg">
          </div>
          <div class="main__logo-inner logo-inner logo--orange invisible">
            <img class="main__logo logo" src="/static/images/logo-orange.svg">
            <img class="main__logo-icon logo-icon" src="/static/images/logo-orange-icon.svg">
          </div>
        </a>
        <p class="main-desc">Бюджет на диджитал-кампанию уже потрачен, но эффект отсутствует? Вы не знаете, куда уходят
          ваши деньги?
          Наши эксперты предлагают разбор кейсов и делают
          такую работу по вашему желанию.
        </p>
      </div>
      <div class="header__btn-wrapper"><button class="header__order-btn order-btn js-order-open">Заказать аудит</button>
      </div>
    </div>
    <div class="man-wrapper">
      <object class="human man run-man" data="/static/images/man-1.svg" type="image/svg+xml">
      </object>
      <object class="human thief invisible" data="/static/images/thief.svg" type="image/svg+xml">
      </object>
    </div>
  </header>
  <main class="main">
    <section class="about main__about container">
      <h2 class="about__title main__title"><strong>О проекте</strong></h2>
      <p class="about__text main__text">
        Бюджет на диджитал-кампанию уже потрачен, но эффект отсутствует?
        <p class="about__text main__text">Вы не
          знаете, куда уходят ваши деньги?</p>
        <p class="about__text main__text">Наши эксперты предлагают разбор кейсов и делают такую работу по вашему
          желанию.</p>
      </p>
    </section>
    <section class="articles main__articles container">
      <div class="articles__wrapper">
        <h2 class="articles__section-title main__title">Наши <strong>статьи</strong></h2>
        <ul class="articles__list">
          <li class="articles__item">
            <a href="{% url 'content:articles' category_slug=categories.0.0 %}" class="articles__link">
              <div class="articles__icon-wrapper">
                <img class="articles__icon" src="/static/images/medias.svg"></div>
            </a>
            <h3 class="articles__subtitle">Медиа и контекстная<br>реклама</h3>
            <a href="{% url 'content:articles' category_slug=categories.0.0 %}" class="articles__btn"></a>
          </li>
          <li class="articles__item">
            <a href="{% url 'content:articles' category_slug=categories.1.0 %}" class="articles__link">
              <div class="articles__icon-wrapper">
                <img class="articles__icon" src="/static/images/computer.svg"></div>
            </a>
            <h3 class="articles__subtitle">SMM-<br>кампании</h3>
            <a href="{% url 'content:articles' category_slug=categories.1.0 %}" class="articles__btn"></a>
          </li>
          <li class="articles__item">
            <a href="{% url 'content:articles' category_slug=categories.2.0 %}" class="articles__link">
              <div class="articles__icon-wrapper">
                <img class="articles__icon" src="/static/images/web-site.svg"></div>
            </a>
            <h3 class="articles__subtitle">Лэндинги</h3>
            <a href="{% url 'content:articles' category_slug=categories.2.0 %}" class="articles__btn"></a>
          </li>
          <li class="articles__item">
            <a href="{% url 'content:articles' category_slug=categories.3.0 %}" class="articles__link">
              <div class="articles__icon-wrapper">
                <img class="articles__icon" src="/static/images/socials.svg"></div>
            </a>
            <h3 class="articles__subtitle">PR<br>в соцсетях</h3>
            <a href="{% url 'content:articles' category_slug=categories.3.0 %}" class="articles__btn"></a>
          </li>
        </ul>
        <button class="articles__section-btn order-btn js-order-open">Заказать аудит</button>
      </div>
    </section>
    <section class="cases main__cases">
      <div class="cases__content-wrapper container">
        <h2 class="cases__title"><strong>Например</strong></h2>
        <ul class="controls cases__controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
          <li class="controls__item prev" data-controls="prev" aria-controls="customize" tabindex="-1">
            <img src="/static/images/arrow.svg" alt="left arrow" class="left-arrow">
          </li>
          <li class="controls__item next" data-controls="next" aria-controls="customize" tabindex="-1">
            <img src="/static/images/arrow.svg" alt="right arrow" class="right-arrow">
          </li>
        </ul>
        <ul class="cases__list my-slider tns-slider tns-carousel tns-calc tns-horizontal" id="center">
          {% for case in cases %}
          <li class="cases__item tns-item tns-slide-active" id="center-item0">
            <a href="{{ case.pdf_doc.url }}" target="_blank">
              <div
                style="background-image: url({% if case.mobile_logo %}{{ case.mobile_logo.url }}{% else %}{{ case.logo.url }}{% endif %})"
                alt="canon logo" class="cases__img"></div>
              <h4 class="cases__subtitle">{{ case.subtitle }}</h4>
            </a>
          </li>
          {% endfor %}
          {% comment %}
          <li class="cases__item tns-item tns-slide-active" id="center-item0">
            <picture>
              <source media="(min-width: 1024px)" srcset="/static/images/desktop-cases-logo.png">
              <img src="/static/images/cannon-logo.png" alt="canon logo" class="cases__img"></picture>
            <h4 class="cases__subtitle">подзаголовок</h4>
          </li>
          <li class="cases__item tns-item tns-slide-active" id="center-item0">
            <picture>
              <source media="(min-width: 1024px)" srcset="/static/images/desktop-cases-logo.png">
              <img src="/static/images/cannon-logo.png" alt="canon logo" class="cases__img"></picture>
            <h4 class="cases__subtitle">подзаголовок</h4>
          </li>
          <li class="cases__item tns-item tns-slide-active" id="center-item0">
            <picture>
              <source media="(min-width: 1024px)" srcset="/static/images/desktop-cases-logo.png">
              <img src="/static/images/cannon-logo.png" alt="canon logo" class="cases__img"></picture>
            <h4 class="cases__subtitle">подзаголовок</h4>
          </li>
          <li class="cases__item tns-item tns-slide-active" id="center-item0">
            <picture>
              <source media="(min-width: 1024px)" srcset="/static/images/desktop-cases-logo.png">
              <img src="/static/images/cannon-logo.png" alt="canon logo" class="cases__img"></picture>
            <h4 class="cases__subtitle">подзаголовок</h4>
          </li>
          {% endcomment %}
        </ul>
      </div>
    </section>
    <section class="experts main__experts container">
      <h2 class="experts__title main__title">Эксперты</h2>
      <ul class="experts__list">
        <li class="experts__item">
          <img src="/static/images/balalaev.png" alt="expert photo" class="experts__img">
          <h4 class="experts__name">Юрий Балалаев</h4>
          <p class="experts__text main__text">Креативный директор</p>
        </li>
        <li class="experts__item">
          <img src="/static/images/ezerskii.png" alt="expert photo" class="experts__img">
          <h4 class="experts__name">Евгений Езерский</h4>
          <p class="experts__text main__text">Управляющий партнер</p>
        </li>
        <li class="experts__item">
          <img src="/static/images/skorik.png" alt="expert photo" class="experts__img">
          <h4 class="experts__name">Андрей Скорик</h4>
          <p class="experts__text main__text">Управляющий партнер</p>
        </li>
        <li class="experts__item">
          <img src="/static/images/shabrin.png" alt="expert photo" class="experts__img">
          <h4 class="experts__name">Богдан Шабрин</h4>
          <p class="experts__text main__text">Production директор</p>
        </li>
      </ul>
    </section>
  </main>

  <footer class="footer main__footer">
    <div class="footer__wrapper">
      <div class="footer__btn-wrapper"><button class="footer__order-btn order-btn js-order-open">Заказать аудит</button>
      </div>
      <ul class="footer__socials-list socials">
        <li class="socials__item"><a target="blank" href="https://www.facebook.com/ITCG.ua/"
            class="footer__socials-link socials__link socials--fb">Facebook</a></li>
        <li class="socials__item"><a target="blank" href="https://itcg.ua"
            class="footer__socials-link socials__link socials--main">itcg.ua</a></li>
      </ul>
    </div>
  </footer>
  <script src="/static/js/scripts.min.js"></script>
</body>

</html>