.article__title {
  text-align: left;
  margin-bottom: 1em;

  &::after {
    display: none;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: calc(25px + 0.5vw);
    margin-bottom: 1.5em;
  }
}
