.articles__icon-wrapper {
  width: 100%;
  padding: 2em;
  border-radius: 90px;
  background-image: $primary-gradient;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
