.articles__section-btn {
  background: $secondary-gradient;
  border: 5px solid $primary-white-color;
  font-size: $btn-font-size;

  @media (min-width: $mobile-album) {
    width: 60%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}
